@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

h1{
	font-size: 25px;
	color: #ff4584;
}


.navbar{
	position: fixed;
	overflow: hidden;
	background-color: #ff4584;
	top: 0;
	width: 100%;
}

.navbar a{
	float: right;
	display: block;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 19px;
	transition: 0.3s;
}

.navbar a:hover{
	color: #7762aa;
}

#navlogo{
	float: left !important;
}



section{
	display: -webkit-flex;
	display: flex;
}

nav{
	position: ;
	-webkit-flex: 1;
	-ms-flex: 1;
	height: 100%;
	margin: 20px;
	padding: 30px;
}

.proNav{
	padding: 10px;
}

nav ul{
	list-style-type: none;
	padding-top: 50px;
}

nav ul li{
	padding-bottom: 30px;
	padding-left: 50px;
}

nav ul a{
	text-decoration: none;
	color: #ff4584;
}

nav ul li a:hover{
	color: #7762aa;
}

article{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	padding: 10px;
	margin-top: 30px;
}

/*-----myprofile-----*/
.profile_info{
	width: 90%;
}

.profile_info img{
	width: 200px;
	height: 200px;
	margin-top: 45px;
	border-radius: 50% 50%;
	border: 2px solid #ff4584;
}


.profile_info table{
	width: 80%;
}

.profile_info table td{
	padding: 10px;
	background-color: #f6f6f6;
}

.profile_info table td:nth-child(odd){
	font-weight: bold;
	color: #ff4584;
	padding-left: 20px;
}




/*------MyMatch-------*/

.matchCont h1, h2{
	color: #ff4584;
}
.matchCont table tr{
	background-color: #f6f6f6;
	max-height: 100px;
	
}
.matchCont table td{
	width: 50%;
}

.matchCont table td a{
	color: black;
}

.card{
	margin-top: 10px;
	vertical-align: middle;
	width: 95%;
	display: inline-block;
	transition: 0.3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.cardContainer{
	padding: 2px 16px;
}



/*-------editProfile-----*/

.edit_profile{
	width: 90%;
	color: #7762aa;
}

.edit_profile img{
	width: 200px;
	height: 200px;
	margin-top: 45px;
	border: 2px solid #ff4584;
	border-radius: 50% 50%;
}

.edit_profile table{
	width: 80%;
	margin-top: 45px;
}

.edit_profile table td{
	background-color: #f6f6f6;
	padding: 20px;
	
}

.edit_profile table td:nth-child(odd){
	color: #ff4584;
}

.edit_profile input, textarea{
	width: 80%;
	height: 30px;
}

.edit_profile  textarea{
	height: 140px;
}

.edit_profile input[type="submit" i] {
	width: 100px;
	height: 50px;
	display:inline-block;
	float: right;
	margin-right: 60px;
	padding:10px 20px;
	background-color: #ff4584;
	font-size:17px;
	border:none;
	border-radius:5px;
	color:white;
	cursor:pointer;
}

.edit_profile input[type="submit" i]:hover{
	background-color: #7762aa;
}



/*------manage image------*/


.img_container{
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	width: 70%;
}

.img_container img{
	width: 100%;
	height: auto;
}

.img_container .imgaction{
	display: flex;
	flex-direction: row;
}






/*-------logout---------*/

